.answerBox {
    background-color: white;
    border-top: 1px;
    margin-top: 10px solid lightgray;
    padding: 10px;
    position: sticky;   
}

.answerBox > form {
    display: flex;
    flex-direction: column;
}

.answerBox__input {
    display: flex;
    border: none;
    padding: 20px;
}

.answerBox__input > input {
    border: none;
    flex: 1 1;
    font-size: 20px;
    margin-left: 20px;
    width: 100%;
}

.answerBox__button {
    background-color: var(--ada-pink) !important;
    border: none !important;
    border-radius: 30px !important;
    border-top: 1px solid var(--main-background);
    color: white !important;
    font-weight: 900 !important;
    height: 40px !important;
    margin-left: auto !important;
    text-transform: inherit !important;
    width: 70px;
}
