.answer {
  align-items: flex-start;
  background-color: white;
  border-top: 1px solid var(--main-background);
  padding-bottom: 10px;
}

.answer:last-child {
  border-bottom: 1px solid var(--main-background);
}

.answer__avatar {
  padding: 10px;
}

.answer__header {
  display: flex;
  padding: 10px;
}

.answer__headerText > h3 {
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.answer__headerTimestamp {
  font-size: 15px;
  margin-bottom: 5px;
}
.answer__text {
  margin-left: 15px;
  margin-right: 15px;
}

.answer__footer {
  display: flex;
  margin-left: 15px;
  margin-top: 10px;
}

#answer__date {
  color: gray;
}

.votes {
  align-items: center;
  color: var(--ada-pink);
  display: flex;
  font-size: 15px;
  font-weight: bold;
  justify-content: center;
}

.answer > .MuiSvgIcon-root {
  padding: 0;
}
