.answerBox {
    padding: 10px;
    border-top: 10px solid var(--main-background);
    /* border-bottom: 10px solid var(--main-background); */
    background-color: white;
    position: sticky;   
}

.answerBox > form {
    display: flex;
    flex-direction: column;
}

.answerBox__input {
    padding: 20px;
    display: flex;
}

.answerBox__input > input {
    /* flex: 1; */
    margin-left: 20px;
    font-size: 20px;
    border: none;
}

.answerBox__button {
    background-color: var(--ada-pink) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 70px;
    height: 40px !important;
    margin-left: auto !important;
}