.globalAnswerButton {
    color: var(--ada-dark);
    cursor: pointer;
    display: flex;
    text-decoration: none;
}

.globalAnswerButton:hover {
    border-radius: 30px;
    color: var(--ada-pink);
    transition: color 100ms ease-out;
}

.globalAnswerButton > .MuiSvgIcon-root {
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 10px;
}

.globalAnswerButton > h2 {
    font-size: 17px;
    margin-top: 11px;
}

.globalAnswerButton--active {
    color: var(--ada-pink);
}
