.header {
  display: flex;
  /* height: 100vh; */
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  position: sticky;
}

.header__logo {

  position: sticky;
  height: 90px;
  z-index: 100;
  padding: 15px 20px;
  flex: 0.3;
}

.header__logo img {
  width: auto;
  height: 130%;
}

.header a {
  text-decoration: none;
}

.header__buttons {
  background-color: var(--ada-pink) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 40px;
  /* margin-top: 60px !important; */
  /* margin-left: auto !important; */
  width: 90px !important;
}

.header__loggedIn {
  display: flex;
  align-items: center;
}

.header__center {
  flex: 0.4;
}

#username {
  /* margin-top: 40px; */
}

.header__right {
  align-items: center;
  display: flex;
  flex: 0.3;
  padding-left: 150px;
}

.header__container {
  height: 210px;
}

.button__left {
  margin-right: 5px;
}

.button__right {
  margin-left: 5px;
}
