.header {
  display: flex;
  /* height: 100vh; */
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  position: sticky;
  /* justify-content: space-evenly; */
}

.header__logo {
  /* font-size: 20px; */
  /* font-weight: 800; */
  /* max-width: 20%; */
  position: sticky;
  /* top: 0; */
  height: 90px;
  z-index: 100;
  padding: 15px 20px;
  /* background-color: white; */
  /* border: 1px solid var(--main-background); */
  /* border-bottom: 10px solid var(--main-background); */
  /* background-color: var(--main-background); */
  flex: 0.3;
}

.header__logo img {
  width: auto;
  height: 110%;
}

.header a {
  text-decoration: none;
}

.header__buttons {
  background-color: var(--ada-pink) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 40px;
  /* margin-top: 60px !important; */
  /* margin-left: auto !important; */
  width: 90px !important;
}

.header__loggedIn {
  display: flex;
  align-items: center;
}

#username {
  /* margin-top: 40px; */
}

.header__center {
  flex: 0.4;
}
.header__right {
  align-items: center;
  display: flex;
  flex: 0.3;
  padding-left: 150px;
}

.header__container {
  height: 210px;
}
