.links_section {
    padding-left: 150px;
    text-decoration: none;
}

.MuiSvgIcon-root {
    font-size: 5rem;
    padding: 5px;
}

.ada_titles {
    padding-top: 45px;
    padding-bottom: 20px;
}

.app {
    display: flex;
}

.a {
    text-decoration: none;
}

.icon {
    text-decoration: none;
    width: 50px;
}

.main_icon {
    padding: 10px;
    width: 50px;
}

.discord_icon {
    padding: 5px;
    width: 60px;
}

.blog_icon {
    padding-left: 0px;
    padding-right: 60px;
    padding-top: 10px;
    width: 200px;
}

.links_official {
    display: flex;
}