.login {
    align-items: center;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#login__logo {
    max-height: 300px;
    padding-bottom: 20px;
}

.login__container {
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    height: fit-content;
    flex-direction: column;
    padding: 20px;
    margin-top: 30px;
    width: 300px;
}

.login__container > form > h5 {
    margin-bottom: 5px;
}

.login__container > form > input {
    background-color: white;
    height: 30px;
    margin-bottom: 10px;
    width: 98%;
}

.tag_dropdown {
    background-color: white;
    border: 2px solid gray;
    border-left: 2px solid black;
    border-top: 2px solid black;
    height: 38px;
    margin-bottom: 20px;
    width: 100.7%;
}

.submit__button {
    background-color: var(--ada-pink) !important;
    border: none !important;
    border-radius: 30px !important;
    color: white !important;
    display: flex;
    font-weight: 900 !important;
    height: 40px !important;
    margin-left: auto !important;
    text-transform: inherit !important;
    width: 20px;
}

.submit_button {
    padding-top: 10px;
}
