.questionBox {
    padding: 10px;
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;    
    background-color: white;
    position: sticky;   
}

.questionBox > form {
    display: flex;
    flex-direction: column;
}

.questionBox__input {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    display: flex;
}

.questionBox__input > input {
    margin-left: 20px;
    font-size: 20px;
    border: none;
    width: 100%;
    flex: 1 1;
}

.questionBox__button {
    background-color: var(--ada-pink) !important;
    border: none !important;
    border-radius: 30px !important;
    color: white !important;
    font-weight: 900 !important;
    height: 40px !important;
    margin-left: auto !important;
    text-transform: inherit !important;
    width: 70px;
}

.error_message {
    color: var(--ada-pink);
    margin-bottom: 5px;
}

.topic_dropdown {
    margin-left: 15px;
    margin-right: 10px;
}

.topic_text {
    margin-left: 20px;
}
