.question {
  align-items: flex-start;
  /* padding-bottom: 10px; */
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  margin-bottom: 10px;
  background-color: white;
  /* border: 1px solid lightgray; */
}

.question:first-child {
  margin-top: 10px;
}

.question__avatar {
  padding: 10px;
}

.question__answersLink {
  text-decoration: none;
  display: inline-block;
  margin-left: 12px;
  padding: 8px;
  color: #808080;
  font-weight: bold;
}

.question__answersLink:hover {
  text-decoration: underline;
}

.question__header {
  display: flex;
  padding: 10px;
}

.question__headerText > h3 {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.question__headerTimestamp {
  font-size: 15px;
  margin-bottom: 5px;
}

.question__text {
  margin-left: 20px;
  margin-right: 15px;
}

.question__footer {
  /* display: flex;  */
  text-align: right;
}

/* #question__username {
  color: var(--ada-pink);
} */

#question__date {
  color: gray;
}

/* .votes {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.answer_and_topic {
  display: flex;
}

.question__topic {
  color: gray;
  /* margin-left: 200px; */
  margin-top: 13px;
  width: 100%;
  text-align: right;
  margin-right: 10px;
  /* box-align: right; */
}