.topics {
    padding-left: 50px;
}

.topics__container{
    flex: 0.3;
}

.topics__title {
    margin-bottom: 10px;
    margin-top: 25px;
}
  
.topics__input {
    align-items: center;
    background-color: white;
    border-radius: 20px;
    display: flex;
    margin-top: 20px;
    max-width: 200px;
    padding: 5px;
}

.topics__input > input {
    border: none;
    background-color: white;
}

.topics__searchIcon {
    color: gray;
}

#search_input {
    max-width: 125px;
}
